.user tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.user td {
  text-align: left;
}
.user th {
  text-align: right;
}

@media (max-width: 640px) {
  .user tbody {
    display: grid;
    row-gap: 15px;
    line-height: 1.3;
  }
  .user tr {
    grid-template-columns: auto;
  }
  .user th {
    text-align: left;
  }
}
