.users {
  padding: 0;
  list-style: none;
  text-align: left;
}

.users a {
  display: block;
  padding: 5px;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  color: currentColor;
  gap: 0.4ch;
  border: 1px solid #213547;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.users li:not(:first-child) a {
  border-top: 0;
}
